/*police import*/
@import url(//db.onlinewebfonts.com/c/0841832efbb3901931dccd608ef8e051?family=WhatnotW00-Regular);

@font-face {font-family: "WhatnotW00-Regular"; 
    src: url("/assets/fonts/0841832efbb3901931dccd608ef8e051.eot"); /* IE9*/
    src: url("/assets/fonts/0841832efbb3901931dccd608ef8e051.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/assets/fonts/0841832efbb3901931dccd608ef8e051.woff2") format("woff2"), /* chrome、firefox */
    url("/assets/fonts/0841832efbb3901931dccd608ef8e051.woff") format("woff"), /* chrome、firefox */
    url("/assets/fonts/0841832efbb3901931dccd608ef8e051.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/assets/fonts/0841832efbb3901931dccd608ef8e051.svg#Whatnot W00 Regular") format("svg"); /* iOS 4.1- */
  }

body {
    margin: 0;
    padding: 0;
    font-family: "WhatnotW00-Regular";
}

*, *:before, *:after {
    box-sizing: border-box;
    margin-block-end: 0;
    margin-block-start: 0;
}

canvas {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}

main {
    position: relative;
    z-index: 2;
}

main section {
    display: none;
}

#home-screen {
    display: block;
    background-color: lightgoldenrodyellow;
    background-image: url("/assets/ui/Fond_menu.jpg");
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding: 100px;
}

.mainTitle {
    display: flex;
    justify-content: center;
    font-weight: 600;
    text-align: center;
    font-size: 7vh;
    margin-bottom: 5vh;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

.menuButtonBox {
    height: 30vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.menuButton {
    font-size: 5vh;
    font-weight: 300;
}

.citation {
    font-size: 3.5vh;
    font-weight: 200;
    font-style: italic;
}

.author {
    margin-left: 0.5vw;
    font-size: 3vh;
    font-weight: 200;
    font-style: italic;
}

.quoteBox {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 5vh;
    text-align: center;
    align-items: center;
}

#credits {
    background-color: lightgoldenrodyellow;
    height: 100vh;
    width: 100%;
    padding: 100px;
}

.retourButtonCredit img {
    height: 7vh;
}

.margin {
    margin: 0 15vw;
}

.credit-titre {
    padding: 2vh;
    font-weight: bold;
    font-size:24px;
}

.credit {
    padding: 2vh;
}

.topcredits {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ingame-screen {
    background-color: transparent;
    height: 0vh;
    width: 100%;
}

#dialogBox {
    display: none;
    background-color: #132A2E;
    color: #EEEEEE;
    border-radius: 1vh;
    height: auto;
    margin: 2vw 2.5vh;
    padding: 2vw 2vh;
    font-size: 4vh;
}

.textMaxSize {
    width: 85vw;
}

.dialogBoxFlex {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

#dialogBox img {
    height: 7vh;
}

#end-screen {
    background-color: lightgoldenrodyellow;
    height: 100vh;
    width: 100%;
    padding: 100px;
}

.endScreenBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.endScreenBox img{
    height: 40vh;
    margin-bottom: 10vh;
}

.buttonBackMenu{
    font-size: 5vh;
    font-weight: 300;
}

.endTitle {
    font-size: 7vh;
    margin-bottom: 5vh;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

button {
    font-family: "WhatnotW00-Regular";
    background-color: transparent;
    border: 0;
}

.space {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}