body {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

canvas {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}

main {
    position: relative;
    z-index: 2;
}

main section {
    display: none;
}

#home-screen {
    display: block;
    background-color: lightgoldenrodyellow;
    height: 100vh;
    width: 100%;
    padding: 100px;
}